html
{
    width: 100%;
    margin:0;
    padding:0;
}

body
{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
  
.bg-text 
{
    position: absolute;
    width: 100%;
    border-radius: 1%;
    top: 5rem;
    z-index: 1;
}

/* header */

.header 
{
    width: 90%;
    overflow: hidden;
    background-color: rgba(0,0,0,1);
    padding: 1.5rem 5%;
    position: fixed; 
    height: 3rem;
    box-shadow: 0px 6px 4px rgb(0, 0, 0, 0.3);
    z-index: 2;
}

.header-left
{
    float: left;
    padding: 0px;
}

.header-left h1 
{
    color: rgba(255, 255, 255, 0.8);
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
    float: right;
    margin: 0px;
}

.header-left i
{
    margin-right: 1rem;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    float: left;
}

.header-right
{
    float: right;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

#loc-name-entry
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding: 0.5rem;
}

#l-find
{
    height: 0rem;
    width: 0rem;
    visibility: hidden;
}

#l-find i
{
    font-size: 0rem;
}

#l-space
{
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5rem;
    width: 13rem;
    height: 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    padding-left: 1rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    font-weight: 300;
}

#submit-but
{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px;
}

#l-button
{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    padding: 0.1rem;
    background-color: rgb(0, 0, 0, 0.5);
    border: 1px outset rgb(255, 255, 255, 0.5);
}

#l-button i
{
    font-size: 1rem;
    color: white;
}

@media screen and (max-width: 700px) 
{
    #loc-name-entry
    {
        padding: 0;
        height: 0;
        visibility: hidden;
    }
    
    #l-space
    {
        visibility: hidden;
	    position: relative;
        width: 0px;
        height: 0px;
        padding: 0px;
        margin: 0px;
    }
    #l-button
    {
        visibility: hidden;
	    position: relative;
        width: 0px;
        height: 0px;
        padding: 0px;
        margin: 0px;
    }
    #l-find
    {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        padding: 0.1rem;
        background-color: rgb(0, 0, 0, 0.5);
        border: 1px outset rgb(255, 255, 255, 0.5);
        visibility: visible;
        margin: 0.5rem;
    }
    #l-find i
    {
        font-size: 1rem;
        color: white;
    }
}

@media screen and (max-width: 450px) 
{
    #myName 
    {
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .header-left i
    {
        font-size: 2rem;
    }

    .header-right 
    {
        float: right;
    }

    #loc-name-entry
    {
        padding: 0;
        height: 0;
        visibility: hidden;
    }
}

/*  alert  */
#alert
{
    width: 70%;
    overflow: hidden;
    top: 6.25rem;
    background-color: rgba(0, 0, 0, 0.9);
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed; 
    box-shadow: 0px 6px 4px rgb(0, 0, 0, 0.3);
    z-index: 2;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

#alert-msg
{
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.75rem;
    font-family: monospace;
    width: 80%
}

#alert-btn
{
    width: 15%;
    margin: 0;
    margin-left: 2%;
    align-items: center;
    display: flex;
}

.alert-btn-close
{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
    margin: auto;
}

.alert-btn-close i
{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 1rem;
}

/* view parts -> daily, weekly */

.partview
{
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.sub-head
{
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* daily weather*/

.location-name
{
    width: 90%;
    margin: auto;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.location-name i
{
    color:rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
}

.day
{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    font-size: 1rem;
    font-weight: 700;
}

.left
{
    background-color: rgb(255, 255, 255, 0.7);
    width: 45%;
    margin: 2.5%;
    padding: 1%;
    border-radius: 1%;
    
}

.temp
{
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.temperature-characteristics
{
    width: 100%;
    padding: 1%;
    margin: 1rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

#temperature
{
    width: 90%;
    text-align: left;
    font-family: monospace;
    font-size: 3rem;
    margin: 1rem;
    margin-bottom: 0.2rem;
}

#temperature i
{
    color: rgba(255, 255, 255, 0.7);
    font-size: 3rem;
    margin-right: 1rem;
}

#characteristics
{
    width: 90%;
    text-align: left;
    font-family: monospace;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 0.2rem;
}
                    
.other-details
{
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    font-family: sans-serif;
}

#sunrise-sunset
{
    width: 30%;
    padding: 5px;
    text-align: center;
    border: none;
    border-right: 0.5px solid rgba(255, 255, 255, 0.5); 
}

#sunrise-sunset i
{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#sunrise-sunset ul
{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#sunrise-sunset ul li
{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

#high-low-temp
{
    width: 27%;
    padding: 5px;
    text-align: center;
    border-right: 0.5px solid rgba(255, 255, 255, 0.5); 
}

#high-low-temp i
{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#high-low-temp ul
{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#high-low-temp ul li
{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

#wind_dir
{
    width: 30%;
    padding: 5px;
    text-align: center;
}

#wind_dir i
{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#wind_dir ul
{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#wind_dir ul li
{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

@media (max-width: 585px) 
{
    .temp
    {
        background-color: rgba(0, 0, 0, 0.7);
        width: 90%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }
    
    .temperature-characteristics
    {
        width: 100%;
        padding: 1%;
        margin: 0.8rem;
        margin-bottom: 0px;
        color: rgba(255, 255, 255, 0.7);
    }

    #temperature
    {
        text-align: center;
        width: 90%;
        font-family: monospace;
        font-size: 3rem;
        margin-bottom: 0.2rem;
    }

    #temperature i
    {
        color: rgba(255, 255, 255, 0.7);
        font-size: 3rem;
        text-align: center;
        width: 100%;
    }

    #characteristics
    {
        text-align: center;
        width: 90%;
        font-family: monospace;
        margin-top: 0.2rem;
        font-size: 1rem;
    }
                        
    .other-details
    {
        width: 90%;
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    #sunrise-sunset
    {
        width: 100%;
        padding: 5px;
        border: none;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    #sunrise-sunset i
    {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.5rem;
        margin: 0.5rem;
        width: 15%;
    }

    #sunrise-sunset ul
    {
        padding: 0px;
        margin: 0.5rem;
        margin-bottom: 0px;
        width: 60%;
    }

    #sunrise-sunset ul li
    {
        font-size: 0.8rem;
    }

    #high-low-temp
    {
        width: 100%;
        padding: 5px;
        border: none;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    #high-low-temp i
    {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.5rem;
        margin: 0.5rem;
        width: 15%;
    }

    #high-low-temp ul
    {
        padding: 0px;
        margin: 0.5rem;
        margin-bottom: 0px;
        width: 60%;
    }

    #high-low-temp ul li
    {
        font-size: 0.8rem;
    }

    #wind_dir
    {
        width: 100%;
        padding: 5px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    #wind_dir i
    {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.5rem;
        margin: 0.5rem;
        width: 15%;
    }

    #wind_dir ul
    {
        padding: 0px;
        margin: 0.5rem;
        margin-bottom: 0px;
        width: 60%;
    }

    #wind_dir ul li
    {
        font-size: 0.8rem;
    }
}

.same_day_prediction
{
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    overflow-x: scroll;
    border: 0.2rem solid rgba(0, 0, 0, 0);
}

.prediction_container
{
    display: inline-flex;
    overflow-x: scroll;
}

::-webkit-scrollbar 
{
    height: 7px;
    width: 7px;
    margin: 3px;
}
 
::-webkit-scrollbar-track 
{
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7); 
    border: 2px solid rgb(0, 0, 0, 0.3);
}

.prediction
{
    width: 4rem;
    margin: 0rem;
    padding: 0.2rem 0.5rem;
    color: rgba(255, 255, 255, 0.7);
    border-right: 0.05px solid rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
}

.prediction p
{
    font-size: 0.65rem;
    margin-top: 0px;
    margin-bottom: 5px;
}

.prediction_weather_sign
{
    font-size: 1.5rem;
    margin: 0.75rem;
}

.prediction_temp
{
    font-size: 1rem;
}

#last_pred
{
    border: none;
}

/* weekly weather */ 

.right
{
    background-color: rgb(255, 255, 255, 0.7);
    width: 35%;
    margin: 2.5%;
    padding: 1%;
    border-radius: 1%;
}

.wf-container
{
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color:rgb(255, 255, 255, 0.7);
}

@media (max-width: 900px) 
{
    .left
    {
        background-color: rgb(255, 255, 255, 0.7);
        width: 95%;
        margin: auto;
        margin: 2.5%;
        padding: 1%;
        border-radius: 1%;
    }

    .right
    {
        background-color: rgb(255, 255, 255, 0.7);
        width: 95%;
        margin: auto;
        margin: 2.5%;
        padding: 1%;
        border-radius: 1%;
    }
}

.weekly_prediction
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    font-family: sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.05px solid rgba(255, 255, 255, 0.3);
}

#last_weekly_prediction
{
    border-bottom: none;
}

.weekly_left
{
    width: 30%;
    font-size: 0.9rem;
    font-weight: 500;
    border-right: 0.1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 0rem;
}

.weekly_prediction_date
{
    margin: 0px;
    padding-top: 0.75rem;
}

.weekly_prediction_icon
{
    font-size: 1.25rem;
}

.weekly_right
{
    font-size: 0.9rem;
    width: 65%;
}

.weekly_day, .weekly_night
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.weekly_day
{
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.1);
}

.weekly_prediction_time
{
    width: 40%;
    margin: 0px;
    padding: 0.5rem;
}

.weekly_prediction_weather_sign
{
    width: 25%;
    font-size: 1.25rem;
    padding: 0.25rem;
}

.weekly_prediction_temp
{
    width: 20%;
    padding: 0.5rem;
}

@media (max-width: 1445px) and (min-width: 900px)
{
    .weekly_prediction
    {
        display: block;
        font-family: sans-serif;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.05px solid rgba(255, 255, 255, 0.3);
    }
    
    #last_weekly_prediction
    {
        border-bottom: none;
    }
    
    .weekly_left
    {
        font-size: 0.9rem;
        font-weight: 500;
        width: 100%;
        border-right: none;
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 1rem;
    }
    
    .weekly_prediction_date
    {
        margin: 0px;
        padding: 0.25rem 0rem;
        margin-left: 1rem;
        display: inline;
    }

    .weekly_prediction_icon
    {
        display: inline;
    }
    
    .weekly_right
    {
        font-size: 0.75rem;
        width: 100%;
    }
    
    .weekly_day, .weekly_night
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }
    
    .weekly_prediction_time
    {
        width: 40%;
        margin: 0px;
        padding: 0.5rem 0rem;
    }
    
    .weekly_prediction_weather_sign
    {
        width: 25%;
        font-size: 1rem;
        padding: 0.25rem 0rem;
    }
    
    .weekly_prediction_temp
    {
        width: 20%;
        padding: 0.5rem 0rem;
    }
}

@media (max-width: 545px)
{
    .weekly_prediction
    {
        display: block;
        font-family: sans-serif;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.05px solid rgba(255, 255, 255, 0.3);
    }
    
    #last_weekly_prediction
    {
        border-bottom: none;
    }
    
    .weekly_left
    {
        font-size: 0.9rem;
        font-weight: 500;
        width: 100%;
        border-right: none;
        border-bottom: 0.1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 1rem;
    }
    
    .weekly_prediction_date
    {
        margin: 0px;
        padding: 0.25rem 0rem;
        margin-left: 1rem;
        display: inline;
    }

    .weekly_prediction_icon
    {
        display: inline;
    }
    
    .weekly_right
    {
        font-size: 0.75rem;
        width: 100%;
    }
    
    .weekly_day, .weekly_night
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }
    
    .weekly_prediction_time
    {
        width: 40%;
        margin: 0px;
        padding: 0.5rem 0rem;
    }
    
    .weekly_prediction_weather_sign
    {
        width: 25%;
        font-size: 1rem;
        padding: 0.25rem 0rem;
    }
    
    .weekly_prediction_temp
    {
        width: 20%;
        padding: 0.5rem 0rem;
    }
} 

.info
{
    margin: auto;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 1%;
}

.air_quality_index
{
    text-align: left;
    margin-left: 5%;
    color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.air_quality_index span
{
    color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    font-size: 0.9rem;
    font-weight: 700;
}

.air_component_chart
{
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color:rgb(255, 255, 255, 0.7);
    
}

.air_component
{
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.3);
    margin: 0rem;
    padding: 0.75rem;
    font-family: sans-serif;
    font-size: 0.85rem;
    display: flex;
    flex-wrap: wrap;
}

.air_component .name
{
    text-align: left;
    width: 45%;
}

.air_component .value
{
    text-align: center;
    width: 30%;
}

.air_component .rating
{
    text-align: right;
    width: 23%;
}

#last_air_component
{
    border-bottom: none;
}
